<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TheService.Properties.Settings>
            <setting name="ServiceName" serializeAs="String">
                <value>The One Service</value>
            </setting>
            <setting name="HeartBeat" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LaunchDebugger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Localization" serializeAs="String">
                <value>en_EN</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </TheService.Properties.Settings>
    </applicationSettings>
</configuration>